- empty_repo = @project.empty_repo?
- ff_reorg_disabled = Feature.disabled?(:project_overview_reorg)

%header.project-home-panel.js-show-on-project-root.gl-mt-5{ class: [("empty-project" if empty_repo)] }
  .gl-display-flex.gl-justify-content-space-between.gl-flex-wrap.gl-flex-direction-column.gl-md-flex-direction-row.gl-gap-5
    .home-panel-title-row.gl-display-flex.gl-align-items-center
      = render Pajamas::AvatarComponent.new(@project, alt: @project.name, class: 'gl-align-self-start gl-flex-shrink-0 gl-mr-3', size: 48, avatar_options: { itemprop: 'image' })
      %h1.home-panel-title.gl-heading-1.gl-mt-3.gl-display-flex.gl-align-items-center.gl-flex-wrap.gl-gap-3.gl-word-break-word{ class: 'gl-mb-0!', data: { testid: 'project-name-content' }, itemprop: 'name' }
        = @project.name
        = visibility_level_content(@project, css_class: 'visibility-icon gl-display-inline-flex gl-text-secondary', icon_css_class: 'icon')
        = render_if_exists 'compliance_management/compliance_framework/compliance_framework_badge', project: @project, additional_classes: 'gl-align-self-center'
        - if @project.catalog_resource
          = render partial: 'shared/ci_catalog_badge', locals: { href: explore_catalog_path(@project.catalog_resource), css_class: 'gl-mx-0' }
        - if @project.group
          = render_if_exists 'shared/tier_badge', source: @project
        = render 'shared/projects/badges', project: @project

    #js-home-panel{ data: home_panel_data_attributes }

  - if ff_reorg_disabled
    - if can?(current_user, :read_code, @project)
      - show_auto_devops_callout = show_auto_devops_callout?(@project)

      %nav.project-stats.gl-mt-3
        - if @project.empty_repo?
          = render 'stat_anchor_list', anchors: @project.empty_repo_statistics_anchors
        - else
          = render 'stat_anchor_list', anchors: @project.statistics_anchors(show_auto_devops_callout: show_auto_devops_callout)
    .gl-my-3
      = render "shared/projects/topics", project: @project

    .home-panel-home-desc.mt-1
      - if @project.description.present?
        .home-panel-description.text-break
          .home-panel-description-markdown.read-more-container{ itemprop: 'description' }
            = markdown_field(@project, :description)
          = render Pajamas::ButtonComponent.new(category: :tertiary, variant: :link, button_options: { class: 'js-read-more-trigger gl-lg-display-none' }) do
            = _("Read more")

  = render_if_exists "projects/home_mirror"

  - if ff_reorg_disabled && @project.badges.present?
    .project-badges.mb-2{ data: { testid: 'project-badges-content' } }
      - @project.badges.each do |badge|
        - badge_link_url = badge.rendered_link_url(@project)
        %a.gl-mr-3{ href: badge_link_url,
          target: '_blank',
          rel: 'noopener noreferrer',
          data: { testid: 'badge-image-link', qa_link_url: badge_link_url } }>
          %img.project-badge{ src: badge.rendered_image_url(@project),
            'aria-hidden': true,
            alt: 'Project badge' }>
